:root {
  --color-primary: rgb(0, 127, 230);
  --color-secondary: #e8881b;
  --color-accent: #9dbc1c;
  --color-text: #2b2b2b;
  --color-back: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  font-size: 100%;
}
.login-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rect1 {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 48rem;
  height: 8rem;
  background-color: var(--color-text);
}
.rect2 {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 30rem;
  height: 15rem;
  background-color: var(--color-primary);
}
.login-primary {
  width: 85%;
  height: 85%;
  display: flex;
  background-color: white;
  box-shadow: 0 0 0.5rem #1818183a;
}
.login-image {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 60%;
}
.login-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: linear-gradient(
    to top right,
    var(--color-text),
    var(--color-primary)
  );
  z-index: 1;
  pointer-events: none;
}
.login-image img {
  height: 100%;
  object-fit: cover;
}
.login-container {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-content {
  position: relative;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
}
.tittle {
  text-align: left;
  font-size: 2em;
  font-weight: 600;
  color: var(--color-primary);
}
.line {
  width: 10rem;
  height: 0.15rem;
  margin-bottom: 1rem;
  background-color: var(--color-primary);
}
.login-content p {
  margin-bottom: 1rem;
  color: var(--color-text);
}
.login-content form {
  width: 100%;
}
.login-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
}
.input-card {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

#icon-input {
  position: absolute;
  left: 0.8rem;
  font-size: 1.2em;
  color: var(--color-text);
}

.input {
  width: 100%;
  height: 2.5rem;
  border-bottom: 0.1rem solid var(--color-primary);
  /* border: 0.12rem solid var(--color-text); */
  /* border-radius: 0.8rem; */
  background-color: white;
  padding-left: 2.5rem;
}
.input:focus {
  outline: none;
  border-bottom: 0.15rem solid var(--color-primary);
}

#password-toggle {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2em;
  color: #9ca3af;
}
.button-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn {
  position: relative;
  background: none;
  padding: 0.5rem 0;
  width: 100%;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  color: white;
  transition: 0.5s;
  overflow: hidden;
  z-index: 2;
  border: 0.2rem solid var(--color-primary);
  /* border-radius: 0.8rem; */
  letter-spacing: 0.1rem;
  outline: none;
}
.btn:hover {
  color: var(--color-primary);
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50% 50% 0 0;
  width: 110%;
  height: 200%;
  background: var(--color-primary);
  z-index: -1;
  transition: 0.5s;
}
.btn:hover::before {
  height: 0%;
}
.alert1,
.alert2 {
  position: absolute;
  font-size: 0.8em;
}
.alert1 {
  bottom: 5rem;
}
.alert2 {
  bottom: 3.8rem;
}
.about {
  position: absolute;
  font-size: 0.55em;
  text-align: center;
  bottom: -4rem;
}

/*---------------------SIDEBAR-------------------*/
.home::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--color-text);
}
.home::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
.nothing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 50%;
}
.nothing img {
  height: 70%;
}
.nothing h2 {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--color-text);
}
nav {
  z-index: 10;
  height: 100vh;
  background: var(--color-text);
  overflow: hidden;
  box-shadow: 0 0 0.5rem #181818d0;
}
.sidebar {
  overflow: hidden;
}
.li-logo {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background: var(--color-primary);
}
.text-logo {
  text-align: center;
}

.what-rol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: var(--color-primary);
  cursor: default;
}
.rol-label {
  font-size: 0.6em;
  color: var(--color-back);
  text-transform: uppercase;
}
.rol {
  font-size: 0.9em;
  text-transform: uppercase;
  color: var(--color-back);
  font-weight: 600;
  margin-top: -0.4rem;
  margin-bottom: 1rem;
}
.sidebar li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.sidebar li .btn-sidebar-home,
.sidebar li .btn-sidebar-home-logo {
  display: flex;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.3s;
  width: 100%;
  height: 3rem;
  position: relative;
}
.sidebar li .btn-sidebar-home-logo {
  justify-content: center;
  align-items: center;
}
/* .sidebar li .btn-sidebar-home:hover {
  padding-left: 0.6rem;
  transition: all 0.3s;
  background: var(--color-primary);
  color: var(--color-back);
} */

.sidebar li .btn-sidebar-home:hover {
  color: var(--color-primary);
}
.sidebar li .btn-sidebar-home::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 30% 30% 0 0;
  width: 120%;
  height: 0%;
  background: var(--color-primary);
  z-index: -1;
  transition: 0.3s;
}
.sidebar li .btn-sidebar-home:hover::before {
  height: 120%;
}

.sidebar li .btn-sidebar-home .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  height: 100%;
  font-size: 1.2em;
  color: var(--color-back);
}
.sidebar li .btn-sidebar-home .text,
.sidebar li .btn-sidebar-home-logo .text-logo {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 00;
  color: var(--color-back);
  text-transform: capitalize;
}
.sidebar li .btn-sidebar-home-logo .text-logo {
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.2rem;
  color: var(--color-text);
}
.facult-list {
  height: 15rem;
  background: #313131;
  overflow-x: hidden;
  margin-bottom: 0.5rem;
}
.facult-list::-webkit-scrollbar {
  width: 0.5rem;
  background: #9ca3af;
}
.facult-list::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
.facult-list-one {
  width: 100%;
  height: 2.2rem;
  background: #3b3b3b;
  color: white;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}
.facult-list-one i {
  margin-right: 0.8rem;
}

/*---------------------HOME-------------------*/

.home {
  overflow-x: hidden;
  height: 100vh;
  background: #ebf5fc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-info-home {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tittle-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tittle-with-icon i {
  font-size: 2.4em;
  padding-right: 0.5rem;
  color: var(--color-text);
}
.tittle-home {
  text-align: left;
  font-size: 2.4em;
  font-weight: 600;
  color: var(--color-text);
  text-transform: uppercase;
  padding: 1rem;
}
.create-and-search {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
}
.btn-create {
  position: relative;
  background: none;
  padding: 0.3rem 0;
  width: 12.5rem;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  color: white;
  transition: 0.5s;
  overflow: hidden;
  z-index: 2;
  border: 0.2rem solid var(--color-primary);
  border-radius: 0.8rem;
  letter-spacing: 0.1rem;
  outline: none;
}
.btn-create i {
  margin-right: 0.5rem;
}
.btn-create:hover {
  color: var(--color-primary);
}
.btn-create::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50% 50% 0 0;
  width: 110%;
  height: 200%;
  background: var(--color-primary);
  z-index: -1;
  transition: 0.5s;
}
.btn-create:hover::before {
  height: 0%;
}
.search-home,
.search-home-profile {
  position: relative;
  width: 30rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-home i,
.search-home-profile i {
  position: absolute;
  left: 0.3rem;
  font-size: 1.4em;
  color: var(--color-text);
}
.search-input {
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  border-radius: 0.2rem;
  border-bottom: 0.1rem solid var(--color-text);
  color: var(--color-text);
}
.search-input:focus {
  outline: none;
  border-bottom: 0.15rem solid var(--color-text);
}
.line-home {
  width: 80%;
  min-height: 0.12rem;
  margin-bottom: 0.5rem;
  background-color: var(--color-text);
}
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}
.container-cards .facult-cards {
  position: relative;
  width: 16rem;
  height: 20rem;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    -5px -5px 5px rgba(0, 0, 0, 0.5), -5px, -5px, 5px rgba(255, 255, 255, 0.5);
  border-radius: 0.8rem;
  margin: 1rem;
  background: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-cards .facult-cards .interact {
  position: absolute;
  bottom: 0.8rem;
  left: 1rem;
  font-size: 1.2em;
  letter-spacing: 0.4em;
  color: #9ca3af;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.container-cards .facult-cards .facult-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5em;
  color: #9ca3af;
  text-transform: uppercase;
  text-align: end;
  font-weight: 600;
  pointer-events: all;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  z-index: 1;
}
.container-cards .facult-cards .facult-icon i {
  cursor: pointer;
}
.container-cards .facult-cards .box {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  background: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  cursor: pointer;
  z-index: 2;
}
.container-cards .facult-cards:hover .box {
  transform: translateY(-3rem);
  box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.4);
  background: var(--color-primary);
}
.container-cards .facult-cards .box .content {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-cards .facult-cards .box .content h2 {
  position: absolute;
  top: -0.8rem;
  right: 1.2rem;
  font-size: 5em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.05);
  transition: 0.5s all;
}

.container-cards .facult-cards:hover .box .content h2 {
  color: rgba(255, 255, 255, 0.2);
}

.container-cards .facult-cards .box .content .text-name-facult-cards {
  font-size: 1.8em;
  color: var(--color-text);
  z-index: 3;
  transition: 0.5s;
  font-weight: 600;
  text-transform: uppercase;
}
.container-cards .facult-cards:hover .box .content .text-name-facult-cards {
  color: var(--color-back);
}
.container-cards .facult-cards .box .content .text-id-facult-cards {
  font-size: 0.8em;
  font-weight: 300;
  color: var(--color-text);
  position: absolute;
  bottom: 1rem;
  z-index: 1;
  text-align: center;
}
.container-cards .facult-cards:hover .box .content .text-id-facult-cards {
  color: var(--color-back);
}
.container-users {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-back {
  width: 100%;
  position: relative;
  height: 4rem;
  background: var(--color-text);
  border-radius: 1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.card-user {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  z-index: 2;
  background: white;
}
.card-back:hover .card-user {
  color: var(--color-back);
  background: var(--color-primary);
  right: 2rem;
  transition: all 0.3s;
}
.card-back:hover .card-user img {
  width: 3.8rem;
  height: 3.8rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0rem 0.3rem 0.5rem #2b2b2b79;
}
.card-user img {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.5s all;
}
.top-info-home-profile {
  position: relative;
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.5rem;
  padding: 2rem;
}
.tittle-with-icon-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  height: 100%;
  gap: 2rem;
}
.tittle-with-icon-profile img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0.05rem 0.05rem 0.3rem var(--color-text);
}
.tittle-home-profile {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.2em;
  color: var(--color-text);
}
.email-home-profile,
.rol-home-profile {
  font-size: 1em;
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.email-home-profile i,
.rol-home-profile i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  margin-right: 0.6rem;
}
.search-home-profile {
  margin: 1rem;
}
.container-files {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.files-back {
  width: 100%;
  height: 4rem;
  margin: 0.2rem;
  border-radius: 0.8rem;
  background: var(--color-text);
  position: relative;
  transition: 0.3s all;
}
.files-back .menu {
  position: absolute;
  right: 0.5rem;
  font-size: 1.2em;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.files-back:hover .card-files {
  right: 2rem;
  background: var(--color-primary);
  transition: 0.3s all;
}
.files-back:hover .card-files .file-icon,
.files-back:hover .card-files .file-tittle,
.files-back:hover .card-files .file-desc,
.files-back:hover .card-files .file-approver,
.files-back:hover .card-files .file-comments {
  color: white;
}
.card-files {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  text-align: left;
  align-items: center;
  z-index: 2;
  border-radius: 0.8rem;
}
.file-link {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.file-icon {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  color: var(--color-text);
}
.file-tittle {
  height: 90%;
  width: 30%;
  display: flex;
  align-items: center;
  text-wrap: wrap;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.4rem;
  color: var(--color-text);
}
.file-desc {
  width: 40%;
  height: 90%;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  text-wrap: wrap;
  padding: 0.4rem;
  color: var(--color-text);
}
.file-approver {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4rem;
  color: var(--color-text);
  gap: 0.5rem;
}
.file-approver p {
  font-size: 0.8em;
}
.file-approver i {
  font-size: 1em;
}
.file-comments {
  position: relative;
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: var(--color-text);
}
.file-comments i {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

/*--------------------------MODALS----------------------------*/
.back-modal {
  width: 100%;
  height: 100vh;
  background: #2b2b2b60;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: relative;
  width: 20rem;
  height: 18rem;
  background: white;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.btn-close-modal {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  font-size: 1.5em;
  color: var(--color-text);
}
.tittle-modal {
  width: 100%;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-primary);
  text-align: left;
}
.modal-line {
  width: 10rem;
  height: 0.25rem;
  background: var(--color-primary);
  margin-bottom: 2rem;
}
.content-modal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.content-modal input {
  border-bottom: 0.1rem solid var(--color-primary);
}
.content-modal select {
  background: #f0f0f0;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--color-text);
  padding: 0 0.8rem;
}
.input-modal {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.input-modal:focus {
  outline: none;
  border-bottom: 0.15rem solid var(--color-primary);
}
.alert-modal1,
.alert-modal2 {
  position: absolute;
  font-size: 0.8em;
  color: var(--color-text);
}
.alert-modal1 {
  bottom: 7rem;
}
.alert-modal2 {
  bottom: 5.5rem;
}
.btn-modal {
  position: relative;
  background: none;
  padding: 0.2rem 0;
  width: 100%;
  height: 3rem;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  color: white;
  transition: 0.5s;
  overflow: hidden;
  z-index: 2;
  border: 0.2rem solid var(--color-primary);
  border-radius: 0.8rem;
  letter-spacing: 0.1rem;
  outline: none;
}
.btn-modal:hover {
  color: var(--color-primary);
}
.btn-modal::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50% 50% 0 0;
  width: 110%;
  height: 200%;
  background: var(--color-primary);
  z-index: -1;
  transition: 0.5s;
}
.btn-modal:hover::before {
  height: 0%;
}
